body {
    background-color: #1b2838;
    color: #c7d5e0;
}

h1 {
    color: #ffffff;
}

.form-group label {
    color: #c7d5e0;
}

.form-control {
    background-color: #2a475e;
    color: #ffffff;
    border: none;
}

.form-control::placeholder {
    color: #b8b6b4;
}

.btn-primary {
    background-color: #5c7e10;
    border-color: #5c7e10;
}

.btn-primary:hover {
    background-color: #4b6410;
    border-color: #4b6410;
}
.encabezado{
    background-color: #171d25;
    position: sticky;
    top: 0;
    padding: 1em 0em 1em 2em;
}
::-webkit-scrollbar {
    width: 7.5px;
}

::-webkit-scrollbar-track {
    background: #13121c;
}

::-webkit-scrollbar-thumb {
    background: #3c536d;
}

::-webkit-scrollbar-thumb:hover {
    background: #3b3c4e;
}
