body {
    background-color: #1b2838;
    color: #c7d5e0;
}

header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 24px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 24px 2px rgba(0,0,0,0.75);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
.button{
    background-color: #f54242;
    border-radius: 4px;
    padding: 10px 20px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    margin-left: 123px;
}
.button:hover{
    background-color: #d32f2f;
}
.section{
    gap: 2em;
}

/* Bootstrap overrides */
.container {
    max-width: 600px;
    margin-top: 50px;
}
