body {
    background-color: #1b2838;
    color: #c7d5e0;
}

h2 {
    text-align: center;
    margin-top: 30px;
}

.card {
    background-color: #2a475e;
    border: none;
    margin-top: 30px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.4rem;
    color: #ffffff;
}

.card-text {
    color: #b8b6b4;
}

.card-img-top {
    height: 180px;
    object-fit: cover;
}

.btn-success {
    background-color: #5c7e10;
    border-color: #5c7e10;
}

.btn-success:hover {
    background-color: #4b6410;
    border-color: #4b6410;
}

a {
    color: #67c1f5;
    text-decoration: none;
}

a:hover {
    color: #417a9b;
    text-decoration: underline;
}

.botones {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}


.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}
